<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="IDangerous\SimpleEventManager\Model\ResourceModel\Event\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">idangerous_event</argument>
            <argument name="resourceModel" xsi:type="string">IDangerous\SimpleEventManager\Model\ResourceModel\Event</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="idangerous_simpleeventmanager_event_listing_data_source" xsi:type="string">IDangerous\SimpleEventManager\Model\ResourceModel\Event\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="IDangerous\SimpleEventManager\Api\Data\EventInterface" type="IDangerous\SimpleEventManager\Model\Event" />

    <!-- Main Image Uploader Configuration -->
    <virtualType name="IDangerous\SimpleEventManager\EventImageUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">event/tmp</argument>
            <argument name="basePath" xsi:type="string">event/preview</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
            <argument name="fileSizeLimit" xsi:type="number">10485760</argument> <!-- 10MB limit -->
        </arguments>
    </virtualType>

    <type name="IDangerous\SimpleEventManager\Controller\Adminhtml\Event\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">IDangerous\SimpleEventManager\EventImageUploader</argument>
            <argument name="fileIo" xsi:type="object">Magento\Framework\Filesystem\Io\File</argument>
            <argument name="uploaderFactory" xsi:type="object">Magento\MediaStorage\Model\File\UploaderFactory</argument>
        </arguments>
    </type>

    <type name="IDangerous\SimpleEventManager\Controller\Adminhtml\Event\Save">
        <arguments>
            <argument name="eventFactory" xsi:type="object">IDangerous\SimpleEventManager\Model\EventFactory</argument>
            <argument name="dataPersistor" xsi:type="object">Magento\Framework\App\Request\DataPersistorInterface</argument>
            <argument name="eventCollectionFactory" xsi:type="object">IDangerous\SimpleEventManager\Model\ResourceModel\Event\CollectionFactory</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Router\Base">
        <plugin name="idangerous_simpleeventmanager_custom_route" type="IDangerous\SimpleEventManager\Plugin\Router\CustomRouteSlug" sortOrder="10" />
    </type>
</config>